# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# Variables d'environnement (SECRETS)
.env
*.env
.env.local
.env.production

# AWS
.aws/

# Logs
*.log

# Secrets
*.pem
*.key
*_rsa
*_rsa.pub

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
